html{
    height:100%;
}

body{
    color:ivory;
    height: 100% ;
    background-image: url(../images/dashbg.jpg);
    background-size: auto;
    background-attachment: fixed;
}

.personal-header{
    float: right;
    box-sizing: border-box;
}
.greeting{
    float:left;
    display:block;
    text-align:left;
    font-family: 'Nunito', sans-serif;
    font-size:x-large;
}
.main{
    display:block;
}
.main:after{
    content:"";
    clear: both;
}
.left{
    background-color: #140375;
    color: #D4D6C9;
    display:block;
    float: left;
    width: 58%;
    padding: 2%;
    margin-left:1%;
}
.name{
    float: left;
    height: 50%;
    width: 50%;
}
.age{
    float: left;
    height: 50%;
    width: 50%
}
.ref-no{
    float: right;
    height: 50%;
    width: 50%
}
.approved{
    float: right;
    height: 50%;
    width: 50%
}

.right{
    background-color: #136b10;
    color: #D6CBC9;
    float: right;
    min-height: 60%;
    display:block;
    width: 33%;
    margin-right:1%;
    padding:1%;
}

.right img{
    float:right;
}

.right button{
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

button:hover{
    cursor:pointer;
}

.nav-list b{
    font-style: italic;
}

footer{
    padding:0.5%;
    display:block;
    float:center;
    text-align:center;
    margin-left: 1%;
    margin-right:1%;
    width:96%;
    background-color:rgb(8, 207, 8);
    position:absolute;
    color:rgb(255, 255, 255);
    bottom:0;
}
.cert-block{
    display:block;
    background-color: lightgreen;
    color:rgb(255, 0, 51);
    float:left;
    width:58%;
    margin-left:1%;
    margin-top:2%;
    padding:2%;
}

.curr-details td{
    font-family: 'Merriweather', serif;
}