body{
    color:ivory;
    background-image: url(../images/dashbg.jpg);
    background-size: auto;
    background-attachment: fixed;
}

.personal-header{
    float: right;
    box-sizing: border-box;
}
.greeting{
    float:left;
    display:block;
    text-align:left;
    font-family: 'Nunito', sans-serif;
    font-size:x-large;
    width:80%;
}

.main{
    display:block;
}
.main:after{
    clear:both;
}

.left{
    background-image:linear-gradient(to bottom right, rgb(0, 140, 255), rgb(78, 78, 214));
    color: #ffffff;
    display:block;
    float: left;
    width: 58%;
    padding: 2%;
    margin-left:1%;
}
.name{
    float: left;
    height: 50%;
    width: 50%;
}
.age{
    float: left;
    height: 50%;
    width: 50%
}
.ref-no{
    float: right;
    height: 50%;
    width: 50%
}
.approved{
    float: right;
    height: 50%;
    width: 50%
}

.right{
    background-color: #770063;
    color: #f9fffb;
    float: right;
    min-height: 60%;
    display:block;
    width: 31%;
    margin-right:1%;
    padding:2%;
}

.right img{
    float:right;
}

.right button{
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

button:hover{
    cursor:pointer;
}

.nav-list b{
    font-style: italic;
}

footer{
    display:flex;
    background-color:rgb(8, 207, 8);
    color:darkblue;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    width:98%;
    margin-left:1%;
    margin-top:1%;
    position: relative;
    
}
.cert-block{
    display:block;
    background-image:linear-gradient(to bottom right, lightgreen, lightblue);
    color:rgb(255, 0, 51);
    float:left;
    width:58%;
    margin-left:1%;
    margin-top:1%;
    margin-bottom: 1%;
    padding:2%;
}

.curr-details td{
    font-family: 'Merriweather', serif;
}
*.after{
    content:"";
    clear:both;
}

.squareright{
    float:right;
    display: block;
    background-color: darkorange;
    width:33%;
    margin-right:1%;
    padding:1%;
    margin-top:1%;
    margin-bottom:1%;
    text-align: center;
}

/**************ADMIN DASH CSS******************/

.left-half{
    width:45%;
    float:left;
    display:block;
    margin-left:2%;
    background-image: linear-gradient(to bottom right, rgb(51, 51, 187), rgb(238, 89, 89));
    min-height: 300px;
}

.right-half{
    width:45%;
    float:right;
    display:block;
    margin-right:2%;
    background-image: linear-gradient(to bottom right, rgb(131, 218, 60), rgb(186, 42, 190));
    min-height: 300px;
}
*.after{
    content:"";
    clear:both;
}