body {
    margin: auto 0;
    text-align: center;
}

h1 {
    color: #E80484;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin: 0;
    padding-top: 30px;
}

h3 {
    color: #E80484;
    margin-top: 0px;
    margin-bottom: 0px;
}

#h3-logo {
    color: cornsilk;
}

p {
    line-height: 2;
}


/******************PAGE CONTENT CSS**************/
.main {
    margin-top: 60px;
}

.container {
    background-color: #E3FDFD;
    display: block;
    left: 0;
    width: 100%;
}

.circular {
    border-radius: 10%;
}

#logo {
    display: block;
    padding-bottom: 10px;
    width: 70%;
    z-index: -1;
}

.top-container {
    background-image: url('https://media1.giphy.com/media/26BRyql7J3iOx875u/giphy.webp'), linear-gradient( rgb(0, 60, 128), rgb(0, 255, 242));
    height: auto;
    padding: 50px;
    text-align: left;
    text-transform: uppercase;
}

.new {
    background-color: blueviolet;
    background: url('https://media1.giphy.com/media/26BRyql7J3iOx875u/giphy.webp'),  url('../images/dark_logo.png') no-repeat;
    display: block;
    height: 210px;
    padding: 20px;
    width: 100%;
    /* background-clip: padding-box; 
    background-origin: content-box;
    background-size: cover;
    background-size: 100px 80px;
    */
}

.float-left-img {
    background-color: #00fff240;
    float: left;
    margin-right: 15px;
    width: 100px;

    transition: background 2s, transform 2s;
}

.testing-shadow-box {
    display: block;
    /* font-style: ; */
    margin: 10px auto;
    text-align: left;
    width: 50%;
    background-color:darkblue;
    box-shadow: 10px 10px;
    padding: 30px;
    color: darkgray;
}

/*******************Footer Section*************************/
.bottom-container {
    background: rgb(0, 60, 128);
    padding: 50px;
}

