body {
    margin: auto 0;
    text-align: center;
}

h1 {
    color: #E80484;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin: 0;
    padding-top: 30px;
}

h3 {
    color: #E80484;
    margin: 10px auto;
}

p {
    margin: 0;
    line-height: 2;
}

a {
    color: aqua;
    text-decoration: none;
}

#h3-logo {
    color: cornsilk;
}


/******************PAGE CONTENT CSS**************/
.main {
    margin-top: 60px;
}

.vaccdata{
    display:block;
    box-sizing: border-box;
    height: auto;
    padding: 20px;
}

.container {
    background-color: #E3FDFD;
    display: block;
    left: 0;
    width: 100%;
}

.circular {
    border-radius: 10%;
}

#logo {
    display: block;
    padding-bottom: 10px;
    width: 70%;
    z-index: -1;
}

.top-container {
    background-image: url('https://media1.giphy.com/media/26BRyql7J3iOx875u/giphy.webp'), linear-gradient( rgb(0, 60, 128), rgb(0, 255, 242));
    height: auto;
    padding: 50px;
    text-align: left;
    text-transform: uppercase;
}

.new {
    background: black url('https://media1.giphy.com/media/26BRyql7J3iOx875u/giphy.webp');
    display: block;
    height: auto;
    padding: 20px;
    /* width: 100%; */
    /* background-clip: padding-box; 
    background-origin: content-box;
    background-size: cover;
    background-size: 100px 80px;
    */
}

.map-in{
    width: 75%;
    height: 420px;
}

.float-left-img {
    background-color: #00fff240;
    float: left;
    margin-right: 15px;
    width: 100px;
    transition: background 2s, transform 2s;
}

/*******************Footer Section*************************/
.bottom-container {
    background: rgb(0, 60, 128);
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    justify-content: space-around;
    padding: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.heading-box{
    text-align:center;
    position:absolute;
    margin-top:-50px;
}
.profile-box {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}
.profile-box a{
    font-family: 'Montserrat', sans-serif;
}
.profile-box h2{
    font-family: 'Merriweather', sans-serif;
}
footer {
    font-family: 'Montserrat', sans-serif;
}
